@model Setting

<div class="container">
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-expand-lg d-flex d-lg-block justify-content-between d-xl-flex navbar-light py-3 py-lg-0">
				<a class="navbar-brand" asp-controller="home" asp-action="index">
					<img src="~/img/@Model.Logo" alt="" id="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
					<span class="navbar-toggler-icon" style="font-size: 12px;"></span>
				</button>

				<div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
							<ul class="list-unstyled py-3">
								<li class=""><a class="px-1" href="">Home 1</a></li>
								<li class=""><a class="px-1" href="">Home 2</a></li>
								<li class=""><a class="px-1" href="">Home 3</a></li>
							</ul>
						</li>

						<li class="nav-item shop-li">
							<a class="nav-link" href="#">Shop</a>

						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>

						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FAQ</a>

						</li>
						<li class="nav-item my-auto search">
							<i class="fas fa-search" id="search"></i>
							<ul class="list-unstyled py-3" id="search-box">
								<li class="d-flex px-3">
									<input id="input-search" type="text" placeholder="Search">
									<i class="fas fa-search my-auto" id="search"></i>
								</li>
								


							</ul>
						</li>
						<li class="nav-item my-auto shop-cart">
							<i class="fas fa-shopping-bag"></i>
							<sup class="rounded-circle">0</sup>
							<span>CART ($0)</span>

						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
		<i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
		<ul class="list-unstyled">
			<li><a href="#">Home <i class="fas fa-caret-right fa-sm"></i></a></li>
			<ul class="list-unstyled">
				<li class=""><a class="px-1" href="">Home 1</a></li>
				<li class=""><a class="px-1" href="">Home 2</a></li>
				<li class=""><a class="px-1" href="">Home 3</a></li>
			</ul>
			<li><a href="#">Pages <i class="fas fa-caret-right fa-sm"></i></a></li>
			<ul class="list-unstyled">
				<li class=""><a class="px-1" href="">Page 1</a></li>
				<li class=""><a class="px-1" href="">Page 2</a></li>
				<li class=""><a class="px-1" href="">Page 3</a></li>
			</ul>
			<li><a href="#">Shop <i class="fas fa-caret-right fa-sm"></i></a></a></li>
			<ul class="list-unstyled py-3">
				<li class="">
					<a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
			</ul>
			<li><a href="#">Portfolio <i class="fas fa-caret-right fa-sm"></i></a></a></li>
			<ul class="list-unstyled py-3">
				<li class="">
					<a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
			</ul>
			<li><a href="#">Blog <i class="fas fa-caret-right fa-sm"></i></a></a></li>
			<ul class="list-unstyled py-3">
				<li class="">
					<a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
			</ul>
			<li><a href="#">Elements <i class="fas fa-caret-right fa-sm"></i></a></a></li>
			<ul class="list-unstyled py-3">
				<li class="">
					<a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
				<li class="">
					<a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
				</li>
				<ul class="list-unstyled py-3">
					<li class=""><a class="px-3" href="">Product Types 1</a></li>
					<li class=""><a class="px-3" href="">Product Types 2</a></li>
					<li class=""><a class="px-3" href="">Product Types 3</a></li>
				</ul>
			</ul>
		</ul>
	</div>
</div>