@model ProductVM

<div class="row container mx-auto" id="products">
	@foreach (Product product in Model.Products)
	{
		<div class="col-sm-6 col-md-4 col-lg-3 mt-3">
			<div class="product-item text-center" data-id="winter">
				<div class="img">
					<a asp-action="detail" asp-route-id="@product.Id">
						<img src="~/img/@product.ImageUrl" class="img-fluid" alt="">
					</a>
				</div>
				<div class="title mt-3">
					<h6>@product.Title</h6>
				</div>
				<div class="price">
					<span class="text-black-50">Add to cart</span>
					<span class="text-black-50">$ @product.Price</span>
				</div>
			</div>
		</div>
	}
	<input type="hidden" value="@ViewBag.ProCount" id="proCount" />
</div>
<div class="d-flex justify-content-center m-3">
	<a class="btn btn-success" id="loadMore">
		Load More
	</a>
</div>
